


body {
	margin-left: auto; 
	margin-right: auto; 
	width: 70%; 
	background-color: #FFFFFF; 
	color: #000000;
    font-family: sans-serif;
}

li {
  color: #000000;
  cursor: pointer;
}

fieldset {      
	border: 0;
}

label {
	display: block;
	margin: 20px 0 0 0;
}

select {
	width: 200px;    
}

.horizontal {
	display: inline-block; 
}

#opts {
  display: inline-block;
}
#opts label {
  line-height: 25px;
}
span.fd-slider {
  vertical-align: top;
  display: inline-block;
  width: 150px;
}
#parameters {
    width: 900px;
    height: 800px;
    overflow: scroll;
    padding-left: 10px;
}

#parameters .ui-slider
{
    margin:30px;
}

#parameters h4
{
    position: relative;
    top: -40px;
}

h2
{
    font-weight: 800;
}

h3
{
    font-weight: 800;
}

h4
{
    font-weight: 300;
    font-size: 14px;
}

.unavailable
{
    color: lightgray;
}
